<div class="btn-group" data-toggle="buttons">
  <div>
    <b>Filter Positions:</b>
    <br/>

    <input type="checkbox" ng-model="positionFilter['QB']" checked="checked">QB
    <input type="checkbox" ng-model="positionFilter['RB']" checked="checked">RB
    <input type="checkbox" ng-model="positionFilter['WR']" checked="checked">WR
    <input type="checkbox" ng-model="positionFilter['TE']" checked="checked">TE
    <input type="checkbox" ng-model="positionFilter['DST']" checked="checked">DST
    <input type="checkbox" ng-model="positionFilter['K']" checked="checked">K
  </div>
  <br/>
  <div>
    <b>Filter Contract Status:</b>
    <br/>

    <input type="checkbox" ng-model="contractFilter['ACTIVE']" checked="checked">Active
    <input type="checkbox" ng-model="contractFilter['ROOKIE']" checked="checked">Rookie
    <input type="checkbox" ng-model="contractFilter['SSPD']" checked="checked">Suspended
    <input type="checkbox" ng-model="contractFilter['IR']" checked="checked">IR
    <input type="checkbox" ng-model="contractFilter['LTIR']" checked="checked">LTIR
  </div>
</div>
<br/>
<br/>
<div>
  <ul>
    <li>
      <b>Filtered Contract Length Sum:</b> {{filteredLengthTotal()}}
    </li>
    <li>
      <b>Filtered Salary Sum:</b> {{filteredSalaryTotal()}}
    </li>
  </ul>
</div>


<table class="table fantasy_teams table-striped">

  <thead>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'player.last_name';reverseSort = !reverseSort; ">
    Last Name <span ng-show="(orderByField == 'player.last_name') || (orderByField == '-player.last_name')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'player.first_name'; reverseSort = !reverseSort">
    First Name <span ng-show="(orderByField == 'player.first_name') || (orderByField == '-player.first_name')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'player.position'; reverseSort = !reverseSort">
    Pos<span ng-show="(orderByField == 'player.position') || (orderByField == '-player.position')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'player.nfl_team_name'; reverseSort = !reverseSort">
    NFL Team<span ng-show="(orderByField == 'player.nfl_team_name') || (orderByField == '-player.nfl_team_name')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'fa_status'; reverseSort = !reverseSort">
    UFA/RFA<span ng-show="(orderByField == 'fa_status') || (orderByField == '-fa_status')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'contract_status'; reverseSort = !reverseSort">
    Status<span ng-show="(orderByField == 'contract_status') || (orderByField == '-contract_status')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'length'; reverseSort = !reverseSort">
    Len<span ng-show="(orderByField == 'length') || (orderByField == '-length')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'base_salary'; reverseSort = !reverseSort">
    Salary<span ng-show="(orderByField == 'base_salary') || (orderByField == '-base_salary')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'start_year'; reverseSort = !reverseSort">
    Start<span ng-show="(orderByField == 'start_year') || (orderByField == '-start_year')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'year_1_salary'; reverseSort = !reverseSort">
    Yr 1 Salary<span ng-show="(orderByField == 'year_1_salary') || (orderByField == '-year_1_salary')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'year_2_salary'; reverseSort = !reverseSort">
    Yr 2 Salary<span ng-show="(orderByField == 'year_2_salary') || (orderByField == '-year_2_salary')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'year_3_salary'; reverseSort = !reverseSort">
    Yr 3 Salary<span ng-show="(orderByField == 'year_3_salary') || (orderByField == '-year_3_salary')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField = (reverseSort ? '' : '-') + 'year_4_salary'; reverseSort = !reverseSort">
    Yr 4 Salary<span ng-show="(orderByField == 'year_4_salary') || (orderByField == '-year_4_salary')"><span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span></span></a>
    </th>
  </thead>

  <tbody>
    <tr ng-repeat="contract in contracts | filter:filterByPosition | filter:filterByContractStatus | orderBy:[nullsToBottom, orderByField]">
      <td>{{contract.player.last_name}}</td>
      <td>{{contract.player.first_name}}</td>
      <td>{{contract.player.position}}</td>
      <td>{{contract.player.nfl_team_name}}</td>
      <td>{{contract.fa_status}}</td>
      <td>{{contract.contract_status}}</td>
      <td>{{contract.length}}</td>
      <td>{{contract.base_salary}}</td>
      <td>{{contract.start_year}}</td>
      <td>{{contract.year_1_salary}}</td>
      <td>{{contract.year_2_salary}}</td>
      <td>{{contract.year_3_salary}}</td>
      <td>{{contract.year_4_salary}}</td>
    </tr>

  </tbody>


</table>
