<div class="btn-group" data-toggle="buttons">
  <div>
    <b>Filter Positions:</b>
    <br/>

    <input type="checkbox" ng-model="positionFilter['QB']" checked="checked">QB
    <input type="checkbox" ng-model="positionFilter['RB']" checked="checked">RB
    <input type="checkbox" ng-model="positionFilter['WR']" checked="checked">WR
    <input type="checkbox" ng-model="positionFilter['TE']" checked="checked">TE
    <input type="checkbox" ng-model="positionFilter['DST']" checked="checked">DST
    <input type="checkbox" ng-model="positionFilter['K']" checked="checked">K
  </div>
  <br/>
  <div>
    <b>Filter Contract Status:</b>
    <br/>

    <input type="checkbox" ng-model="contractFilter['ACTIVE']" checked="checked">Active
    <input type="checkbox" ng-model="contractFilter['ROOKIE']" checked="checked">Rookie
    <input type="checkbox" ng-model="contractFilter['SSPD']" checked="checked">Suspended
    <input type="checkbox" ng-model="contractFilter['IR']" checked="checked">IR
    <input type="checkbox" ng-model="contractFilter['LTIR']" checked="checked">LTIR
  </div>
</div>


<table class="table fantasy_teams table-striped">

  <thead>
    <th>
      <a href="#" ng-click="orderByField='player.last_name'; reverseSort = !reverseSort">
    Last Name <span ng-show="orderByField == 'player.last_name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='player.first_name'; reverseSort = !reverseSort">
    First Name <span ng-show="orderByField == 'player.first_name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='player.position'; reverseSort = !reverseSort">
    Position<span ng-show="orderByField == 'player.position'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='player.nfl_team_name'; reverseSort = !reverseSort">
    NFL Team<span ng-show="orderByField == 'player.nfl_team_name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='length'; reverseSort = !reverseSort">
    Length<span ng-show="orderByField == 'length'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='base_salary'; reverseSort = !reverseSort">
    Base Salary<span ng-show="orderByField == 'base_salary'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='start_year'; reverseSort = !reverseSort">
    Start Year<span ng-show="orderByField == 'start_year'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='fa_status'; reverseSort = !reverseSort">
    FA Status<span ng-show="orderByField == 'fa_status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
    <th>
      <a href="#" ng-click="orderByField='contract_status'; reverseSort = !reverseSort">
    Contract Status<span ng-show="orderByField == 'contract_status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
    </th>
  </thead>

  <tbody>
    <tr ng-repeat="contract in contracts | filter:filterByPosition | filter:filterByContractStatus | orderBy:orderByField:reverseSort">
      <td>{{contract.player.last_name}}</td>
      <td>{{contract.player.first_name}}</td>
      <td>{{contract.player.position}}</td>
      <td>{{contract.player.nfl_team_name}}</td>
      <td>{{contract.length}}</td>
      <td>{{contract.base_salary}}</td>
      <td>{{contract.start_year}}</td>
      <td>{{contract.fa_status}}</td>
      <td>{{contract.contract_status}}</td>
    </tr>

  </tbody>


</table>
